GROQ_API_KEY=
SERPER_API_KEY=
GEMINI_API_KEY=

# Appwrite Configuration
VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=
VITE_APPWRITE_BUCKET_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_USERS_COLLECTION_ID=
APPWRITE_CHATS_COLLECTION_ID=
APPWRITE_MESSAGES_COLLECTION_ID=
APPWRITE_STATS_COLLECTION_ID=
APPWRITE_FEEDBACK_COLLECTION_ID=
APPWRITE_PREMIUM_REQUESTS_COLLECTION_ID=

# Email Configuration (for Premium Requests)
GMAIL_USER=dibakar61601@gmail.com
GMAIL_PASS=

# Render Keep-Alive Configuration
APP_URL=
